<!DOCTYPE html>
<html>
<!-- main html file -->

<head>
    <title>My Coin Exchange</title>
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
</head>

<body>
    <header>
        <h1>CoinCat
            <img src="../static/images/logo.png" alt="logo" width="50" height="50">
        </h1>
        <nav>
            <ul>
                <li><a href="/main">Markets</a></li>
                <li><a href="/mypage">My Page</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section class="hero">
            <h2>Trade Cryptocurrencies with Ease</h2>
            <p>Buy, sell, and trade a wide range of cryptocurrencies on our secure platform.</p>
            <a href="/login" class="btn">login</a>
        </section>

        <section class="features">
            <div class="feature">
                <!-- <img src="icons/security.png" alt="Security"> -->
                <h3>Secure Trading</h3>
                <p>Your assets are protected with industry-leading security measures.</p>
            </div>
            <div class="feature">
                <!-- <img src="icons/trade.png" alt="Trade"> -->
                <h3>Wide Range of Markets</h3>
                <p>Access a diverse selection of cryptocurrency markets to trade.</p>
            </div>
            <div class="feature">
                <!-- <img src="icons/support.png" alt="Support"> -->
                <h3>24/7 Customer Support</h3>
                <p>Our dedicated support team is available around the clock to assist you.</p>
            </div>
        </section>

    </main>

    <footer>
        <p>&copy; 2023 My Coin Exchange. All rights reserved.</p>
    </footer>
</body>

</html>